.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: palegoldenrod;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: goldenrod;
}

.App-queries {
  display: flex;
  flex-flow: column;
}

.App-query {
  display: flex;
}

.App-query .execute {
  margin: 20px;
}
.App-query .output {
  font-size: calc(10px + 0.5vmin);
  text-align: left;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todos {
  text-align: left;
  font-size: 16px;
  width: 400px;
}

.todo {
  display: flex;
}

.todos-pagination {
  float: right;
  font-size: 12px;
}

.todos-pagination span {
  padding: 3px 5px;
}

.todos-pagination button {
  width: 40px;
  height: 18px;
}