body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  height: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-nav-header {
  display: flex;
  background: rgb(32, 218, 190);
  color: white;
  height: 65px;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(170, 238, 191);
  font-size: calc(10px + 2vmin);
  color: rgb(32, 218, 190);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todos-pagination {
  float: right;
  font-size: 12px;
}

.todos-pagination span {
  padding: 3px 5px;
}

.todos-pagination button {
  width: 40px;
  height: 18px;
}

.NavButton {
  height: 65px;
  padding: 0 15px;
  background-color: rgb(32, 218, 190);
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.NavButton:hover {
  background-color: #48a6d9;
}

.Form {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
}

.Form input {
  padding: 10px;
  margin-bottom: 20px;
}

.Form button {
  padding: 10px;
}
