.env*
.DS_Store

Dockerfile
docker-compose.yml

.cargo/.build
!.cargo/.build/release
frontend/node_modules
frontend/.pnp
frontend/**/*.pnp.js
frontend/coverage
Dockerfile

build-log*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*